main section {
  width: 90%;
}

article {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 5px 0 #c3cc46;
}

article h3.article-title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

article h3.article-title,
article p.article-preview h5 {
  color: black;
  cursor: pointer;
}

article p.article-preview h5 {
  display: inline;
}

article p.article-preview {
  margin: 10px auto;
  font-size: 20px;
}

.article-image {
  width: 100%;
}

section.main-header {
  margin: 30px auto;
  display: none;
  justify-content: center;
}

section.authorized {
  display: flex;
}

section.main-header a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-size: 28px;
  box-shadow: 0 2px 5px 0 #c3cc46;
}

section.pagination {
  text-align: center;
}

section.pagination button {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #e7ebb5;
  border: 1px solid #c3cc46;
  cursor: pointer;
}

section.pagination button:hover {
  background-color: #c3cc46;
}

section.pagination button.active {
  background-color: #c3cc46;
}

.hide {
  display: none;
}
