* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  background-color: #c3cc4666;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #c3cc46e3;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul a,
nav ul button {
  color: black;
  font-size: 20px;
  font-weight: normal;
  font-family: inherit;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #e7ebb5;
  box-shadow: 0 2px 5px 0 #e7ebb5;
}

nav ul a:hover,
nav ul button:hover {
  text-decoration: underline;
}

main h1 {
  text-decoration: none;
  font-size: 60px;
  font-weight: normal;
}

main {
  min-height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > p {
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
}

main > section {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 5px 0 #c3cc46;
}

main section p {
  font-size: 28px;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
}

main article p span {
  font-size: 96px;
  font-family: "Sanchez", serif;
}

article.profile-intro {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article.profile-intro p {
  font-size: 36px;
  text-align: start;
}

main section h3 {
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  background-color: #c3cc46;
}

.projects-cards-container {
  margin: 20px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  background-color: #c3cc46;
  width: 250px;
  height: 300px;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}

.project-card > h5 {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: #c3cc46e3;
  z-index: 2;
}

.project-card > p {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  background-color: #c3cc46e3;
}

.btn.visit-project button {
  border: none;
  padding: 10px 40px;
  background-color: #c3cc46;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  font-family: inherit;
}

.btn.visit-project {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  margin: 10px auto;
  color: black;
  text-decoration: none;
}

footer {
  height: 6vh;
  padding: 10px 0;
  margin-top: 20px;
  background-color: #c3cc46;
  width: 100%;
  text-align: center;
}

.socials {
  display: flex;
}

.socials a {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.skill-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#contacts-section div {
  display: flex;
  justify-content: space-between;
}

#contacts-section .card {
  margin: 20px;
  padding: 20px;
  min-width: 260px;
  box-shadow: 0 2px 5px 0 #c3cc46;
}

#contacts-section .card h6 {
  font-size: 20px;
  text-align: start;
}

.card.contacts {
  display: flex;
  flex-direction: column;
}

.card.contacts a {
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

.card.contacts a:hover {
  text-decoration: underline;
}

.card.contacts h6 {
  margin: 20px 0;
}

.card.contacts p {
  font-size: 20px;
  text-align: left;
  margin: unset;
}

.card.leave-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.leave-message form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px;
}

.card.leave-message form input,
.card.leave-message form textarea {
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  width: 100%;
  padding: 10px 5px;
  background-color: #c3cc4622;
  margin: 10px 0;
  border: 1px solid black;
}

.send-btn {
  border: none;
  padding: 10px 40px;
  background-color: #c3cc46;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  font-family: inherit;
}

.individual-experience {
  margin: 20px 30px;
  box-shadow: 0 2px 5px 0 #c3cc46;
}

.individual-experience p {
  font-size: 24px;
  text-align: start;
  padding: 0 10px;
}

.individual-experience h6 {
  font-size: 20px;
  text-align: start;
  padding: 0 10px;
}

.burger {
  display: none;
}

.burger div {
  background-color: black;
  width: 30px;
  margin-top: 5px;
  height: 3px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  article.profile-intro p {
    font-size: 28px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
  }

  main {
    padding: 0 10px;
  }

  #contacts-section div {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0;
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-color: #c3cc46;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 20px 0;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: transform 0.2s ease-in-out;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transition: transform 0.2s ease-in-out;
    transform: rotate(45deg) translate(-5px, -6px);
  }

  main h1 {
    font-size: 48px;
  }

  article.profile-intro {
    flex-direction: column-reverse;
  }

  article.profile-intro p {
    text-align: center;
  }

  article.profile-intro img {
    width: 100%;
  }

  #contacts-section .card {
    align-items: center;
    flex-direction: column;
  }

  .socials {
    margin-top: 20px;
  }

  .card.leave-message div {
    margin-top: 20px;
  }

  .card.leave-message div textarea {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  main h1 {
    font-size: 40px;
  }

  main > section {
    width: 100%;
  }
}
