main section {
  width: 90%;
  height: 500px;
  display: flex;
  align-items: center;
}

section.signin-container form {
  font-size: 20px;
  margin: auto;
  width: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px 0 #c3cc46;
}

form div.input-group {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group input {
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  padding: 10px 5px;
  background-color: #c3cc4622;
  margin: 10px 0;
  border: 1px solid black;
}

form div.error-message {
  margin: 20px 0;
  color: red;
}

form button {
  border: none;
  padding: 10px 40px;
  background-color: #c3cc46;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  font-family: inherit;
}

.error-message {
  margin-bottom: 20px;
  color: red;
  font-weight: normal;
  font-size: 18px;
}

.hide {
  display: none;
}

@media screen and (max-width: 640px) {
  main section {
    width: 100%;
  }

  section.signin-container form {
    width: 90%;
    padding: 30px;
  }

  form div.input-group {
    margin: 10px 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
